<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <servlet-class>UserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDataServlet</servlet-name>
        <servlet-class>UpdateUserDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDOA</servlet-name>
        <servlet-class>FeedbackDOA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyServlet</servlet-name>
        <servlet-class>PropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>FeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/UserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>com.example.display</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDataServlet</servlet-name>
        <url-pattern>/UpdateUserDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDOA</servlet-name>
        <url-pattern>/FeedbackDOA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/UpdateUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyServlet</servlet-name>
        <url-pattern>/PropertyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
</web-app>
